<div class="rating-panel">
  {{#each stars key="@index" as |star|}}
    {{#if star.full}}
      <a href="#"
         class="star-rating glyphicon glyphicon-star">
      </a>
    {{else}}
      <a href="#"
         class="star-rating glyphicon glyphicon-star-empty">
      </a>
    {{/if}}
  {{/each}}
</div>

